{% extends "base.html" %} {% load static %} {% block content %}
<div class="hero-image" id="hero-treatments">
  <div class="overlay">
    <h1 class="text-center">Treatments</h1>
  </div>
</div>
<div>
  <h2 class="text-center mt-3 mb-2">Our offer for you:</h2>
</div>
<div class="d-flex flex-column align-items-center">
  {% for treat in treatments %}
  <div class="card mb-3 mx-2 col-12 col-md-10">
    <div class="row g-0">
      <div class="col-md-4">
        {% if "placeholder-treatment" in treat.featured_image.url %}
        <img
          class="scale"
          src="{% static 'images/placeholder-treatment.jpg' %}"
          alt="placeholder image"
        />
        {% else %}
        <img
          class="scale"
          src="{{ treat.featured_image.url }}"
          alt="{{ treat.name }}"
        />
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ treat.name|safe }}</h5>
          <p class="card-text">{{ treat.description|safe }}</p>
          <p class="card-text">
            <strong>Duration:</strong> {{ treat.duration }}
          </p>
          <p class="card-text"><strong>Price:</strong> €{{ treat.price }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock%} {% block copyright %} Copyright @ 2025
thetreeoflifeholisticentre.com {% endblock copyright %}
