{% extends "base.html" %} {% load static %} {% block content %}
<div id="hero-home" class="hero-image">
  <div class="overlay">
    <h1 class="text-center">The tree of life</h1>
    <h2 class="text-center">Olistic centre</h2>
    <p>
      Relax. Recharge. Reconnect. Step into a sanctuary of calm where your
      well-being comes first. At the Olistic centre "The tree of life", we offer
      personalized treatments designed to relieve tension, restore balance, and
      leave you feeling renewed—body and mind. Whether you seek deep tissue
      therapy, a gentle Swedish massage, or a moment of quiet escape, our
      experienced therapists are here to guide you back to yourself.
    </p>
  </div>
</div>
<div>
  <h2 class="text-center">Our team</h2>
  <div class="container">
    <div class="row">
      {% for employee in employee_list %}
      <div class="col-12 col-md-6 col-lg-3 mb-4 text-center">
        <img src="#" alt="Profile foto employee" />
        <!-- ↓↓↓ CREDIT: Microsoft Copilot ↓↓↓ -->
        <h3>{{ employee.full_name }}</h3>
        <a class="btn" id="get-to-know-them" href="#" role="button"
          >Get to know them</a
        >
      </div>
      <!-- ↑↑↑ CREDIT: Microsoft Copilot ↑↑↑ -->
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} {% block copyright %} Copyright @ 2025
thetreeoflifeolisticentre.com {% endblock copyright %}
