{% extends "base.html" %} {% block content %} {% load static %} 
{% load crispy_forms_tags %}

<div class="hero-image" id="hero-contact">
  <div class="overlay">
    <h1 class="text-center">Contact</h1>
  </div>
</div>
<div>
  <h2 class="text-center mt-3 mb-2">Get in touch with us!</h2>
</div>

<div
  class="container d-flex justify-content-center align-items-center"
  id="cinfo-container"
>
  <div class="row w-100">
    <div class="col-lg-8 col-md-10 text-justify mx-3">
      <p>
        For any enquiries or requests concerning our treatments, please feel
        free to get in touch with us! <br />
        This is possible:
      </p>
      <ul>
        <li>
          via <strong>e-mail</strong> at
          <i class="fa-regular fa-paper-plane"></i>
          <em>treeoflife@outlook.com</em>
        </li>
        <li>
          at the following <strong>phone number</strong>
          <i class="fa-solid fa-phone"></i> 123344556
        </li>
        <li>
          by paying us a visit at Massagelaan 14, Kromme-ellebogenstad 0000BH,
          the Netherlands on:
          <ul>
            <li><strong>Mon-Fri</strong>: from 9:00 to 17:00</li>
            <li><strong>Sat</strong>: from 10:30 to 17:00.</li>
          </ul>
        </li>
        <li>or by filling out the form here below.</li>
      </ul>
      <p>We cannot wait to start working with you!</p>
    </div>
  </div>
</div>
<br />
<div class="container d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <div class="col-lg-8 col-md-10 text-justify mx-3">
      <div class="mb-3">
        <!-- ↓↓↓ CREDIT: I think therefore I blog, Code Institute Project ↓↓↓ -->
        {% if messages %} 
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %} 
        {% endif %}
        <!-- ↑↑↑ CREDIT: I think therefore I blog, Code Institute Project ↑↑↑ -->
        <form method="POST">
          {{ enquiry_form|crispy }} {% csrf_token %}
          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-outline-success" type="submit">
              Submit
            </button>
            <button class="btn btn-outline-success" type="reset">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}
{% block copyright %} Copyright @ 2025
thetreeoflifeolisticentre.com {% endblock copyright %}