{% extends "base.html" %} {% block content %} {% load static %} 
{% load crispy_forms_tags %}

<div>
  <h1 class="text-center mt-3 mb-2">My appointments</h1>
</div>

<!-- Displaying user's appointments -->
{% for appointment in appointments %}
<div class="card mb-3 mx-2 col-12 col-md-10">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-text">{{ appointment.treatment.name }}</h2>
        <p class="card-text">
          <strong>With:</strong> {{ appointment.employee.full_name }}
        </p>
        <p class="card-text">
          <strong>Date:</strong> {{ appointment.appointment_date }}
        </p>
        <p class="card-text"><strong>Time:</strong> {{ appointment.time }}</p>
        <p class="card-text">
          <strong>Duration:</strong> {{ appointment.treatment.duration }}
        </p>
        <p class="card-text">
          <strong>Price:</strong> €{{ appointment.treatment.price }}
        </p>
        <a class="btn" href="#">
          Cancel appointment
        </a>
        <a class="btn" href="{% url 'edit_appointment' appointment.id %}">
          Modify appointment
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock%} 
{% block copyright %} 
Copyright @ 2025 thetreeoflifeholisticentre.com 
{% endblock copyright %}
